// place your custom styles here
header.navbar {
  // 隐藏导航栏和导航栏菜单外链图标
  svg.external-link-icon {
    position: relative;
    display: none;
    color: var(--external-link-icon-color);
    vertical-align: middle;
    top: -1px;
  }
}

.link-box {
  ol {
    display: inherit;
    li {
      cursor: pointer;
      display: inline-block;
      margin: 10px 0;
      width: 98%;
      font-size: 16px;
      border: 1px solid var(--c-border-dark);
      border-radius: 5px;
      transition: all 0.3s;
      text-align: right;

      a {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        padding: 10px 20px;
        box-sizing: border-box;
        transition: all 0.3s;

        strong {
          position: absolute;
          left: 25px;
        }

        &:hover {
          opacity: 1;
          text-decoration: none !important;
        }
      }

      &:hover {
        transform: translate3d(0, -2px, 0);
        box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
      }
    }
  }
}
