// you can change colors here
$font-family: 'Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';
$vp-c-accent: #f26d6d;
$vp-c-accent-bg: #f26d6d;
$vp-c-accent-hover: #f37c7c;
$vp-c-control: #cccccc;
$vp-c-control-hover: #f37c7c;
$vp-c-text: (dark:#ffffff, light:#000000);
$vp-c-text-mute: (dark:#eeeeee, light:#222222);