@font-face {
  font-family: 'iconfont'; /* Project id 2601360 */
  src: url('iconfont.woff2?t=1624090719160') format('woff2'),
    url('iconfont.woff?t=1624090719160') format('woff'),
    url('iconfont.ttf?t=1624090719160') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.docs-link:before {
  content: '\e631';
}

.docs-edit:before {
  content: '\e671';
}

.docs-qrcode:before {
  content: '\e642';
}

.docs-set:before {
  content: '\e633';
}

.docs-set-fill:before {
  content: '\e654';
}

.docs-callback-fill:before {
  content: '\e67d';
}

.docs-switch:before {
  content: '\e647';
}

.docs-favorites-fill:before {
  content: '\e721';
}

.docs-costoms-alearance:before {
  content: '\e74a';
}

.docs-hot:before {
  content: '\e753';
}

.docs-resonserate:before {
  content: '\e75e';
}

.docs-hot-fill:before {
  content: '\e781';
}

.docs-resonserate-fill:before {
  content: '\e78a';
}

.docs-collection:before {
  content: '\e79d';
}

.docs-collection-fill:before {
  content: '\e79e';
}

.docs-stick:before {
  content: '\e6a3';
}

.docs-favorites:before {
  content: '\e7b3';
}

.docs-arrows-left:before {
  content: '\e60b';
}

.docs-arrows-right:before {
  content: '\e60c';
}

.docs-arrows-top:before {
  content: '\e60a';
}

.docs-arrows-bottom:before {
  content: '\e60d';
}

.docs-transpond:before {
  content: '\e624';
}

.docs-font:before {
  content: '\e7f6';
}

.docs-share-fill:before {
  content: '\e608';
}

.docs-gotop:before {
  content: '\ef85';
}

.docs-map:before {
  content: '\e678';
}

.docs-refresh:before {
  content: '\e67c';
}

.docs-endorse-fill:before {
  content: '\e613';
}

.docs-language:before {
  content: '\e85f';
}

.docs-endorse-border:before {
  content: '\e619';
}

.docs-github:before {
  content: '\e607';
}

.docs-zhifubao-guanfang:before {
  content: '\e663';
}

.docs-paypal:before {
  content: '\e614';
}

.docs-Paypal:before {
  content: '\e664';
}

.docs-wecath-paly:before {
  content: '\e6d6';
}

.docs-wechat:before {
  content: '\e617';
}

.docs-bilibili:before {
  content: '\e6cf';
}

.docs-zcool:before {
  content: '\e61a';
}

.docs-qq:before {
  content: '\e604';
}

.docs-facebook:before {
  content: '\e606';
}

.docs-gitee:before {
  content: '\e602';
}

.docs-zhihu:before {
  content: '\e600';
}

.docs-medium:before {
  content: '\e956';
}

.docs-twttier:before {
  content: '\e601';
}

.docs-behance:before {
  content: '\ea09';
}

.docs-instagram:before {
  content: '\e864';
}

.docs-youtube:before {
  content: '\e603';
}

.docs-bilibili-text:before {
  content: '\e605';
}

.docs-weibo:before {
  content: '\e676';
}
